#large-nav {
    background-color: #024959;
    height: 90px;
    position: relative;
}

#large-nav #main-nav {
    height: 90px;
    border-bottom: 1px rgba(2, 21, 66, 0) solid;
}

#large-nav #main-nav .main-nav-inner {
    display: table;
    margin: 0 auto;
    text-align: center;
}

#large-nav #main-nav .main-nav-list {
    /*min-width: 360px;*/
    list-style: none;
    padding-top: 34px;
    margin: 0;
}

#large-nav #main-nav .main-nav-list li {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    display: inline;
    margin: 0 36px 0 0;
    text-transform: uppercase;
}

.social-nav {
    margin: 0 auto;
    width: 300px;
}

.social {
    list-style:none;
}

.social li {
    display:inline;
    float:left;
    margin: 20px 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.social li a {
    display:block;
    width:30px;
    height:30px;
    position:relative;
}

.social li a strong { position:absolute; left:20px; top:-1px;
    text-shadow:1px 1px 0 rgba(0, 0, 0, 0.75); background-color:rgba(0, 0, 0, 0.7);
    border-radius:3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

li.github {
    background-image:url("../assets/GitHub-Mark-64px_white.png");
}
li.linkedin {
    background-image:url("../assets/linkedin_white.png");
}
li.twitter {
    background-image:url("../assets/twitter_white.png");
}
li.soundcloud {
    background-image:url("../assets/soundcloud_white.png");
}

li.slideshare {
    background-image:url("../assets/slideshare-icon_white.png");
}

li.email {
    background-image:url("../assets/email.png");
}

.social:hover li {
    opacity:0.2;
}

.social li {
    transition-property: opacity;
    transition-duration: 500ms;
}
.social li a strong { opacity:0;
    transition-property:
    opacity, top;
    transition-duration: 300ms;
}

.social li:hover {
    opacity:1;
    /*box-shadow: 3px 3px 5px black;*/

}
.social li:hover a strong {
    opacity:1;
    top:-10px;
}

#large-nav .social-nav {
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px 12px 0 0;
}

#large-nav .social-nav .LinkedIn span {
    display: block;
    width: 35px;
    height: 31px;
    background-image: url("../assets/LinkedIn-InBug-2CRev.png");
    background-position: 0px 0px;
    /* background-size: 35px 70px; */
    opacity: 1;
}

#large-nav .social-nav .Github span {
    display: block;
    width: 35px;
    height: 31px;
    background-image: url("../assets/GitHub-Mark-64px.png");
    background-position: 0px 0px;
    /* background-size: 35px 70px; */
    opacity: 1;
}


#large-nav a {
    color: #fff;
}

a:active, a:hover {
    outline: 0;
}

body {
    background-color: #024959;
    /*height: 100vh;*/
}
#home-page {

}

#content-page {
    background-color: #024959;
}

#home-page #intro-bkg {
    z-index: 1;
    z-index: 1;

}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

#home-page #intro-bkg #intro {
    z-index: 7;
    position: relative;
}

#home-page #intro-bkg #intro-title {
    position: fixed;
    z-index: 1;
    opacity: 0;
    top: -400px;
    left: 0px;
    padding-bottom: 60px;
}

#home-page #intro-bkg #intro-title2 {
    position: relative;
    z-index: 1;
    opacity: 0;
    padding-bottom: 60px;
}

.span-center {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#intro-name {
    margin-bottom: 100px;
}

#intro-name h1 {
    font-size: 90px;
    line-height: 72px;
    color: #F2C777;
    /* font-family: "Apercu Bold", Calibri, sans-serif; */
    font-size-adjust: 0.508;
    font-weight: bold;
    font-style: normal;
    /* letter-spacing: -4px; */
    text-align: center;
    margin-left: -40px;
}

#home-page #intro-bkg #intro-copy {
    width: 70%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    z-index: 3;
    /*margin-left: -40px;*/
}

.whitetxt {
    color: #fff !important;
}

.intro-copy {
    font-size: 50px;
    line-height: 60px;
    /*margin-left: -40px;*/
}

.media-panel {
    margin-top: 0;
    max-width: 1000px;
    margin-bottom: 70px;
    position: relative;
    /* height: 250px; */
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.col-panels {
    /*margin-bottom: 0px;*/
}


.media-boundingbox {
    background: white;
    border: 0px;
    border-color: white;
    border-style: solid;
    overflow: auto;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* -webkit-box-shadow: 3px 3px 5px 6px #ccc; */
    box-shadow: 0px 5px 5px #303030;
}

.media-boundingbox-code {
    border-bottom: 5px;
    border-style: solid;
    border-color: white;
}

.media-img {
    height: 400px;
    width: 400px;
}

.media-div {
    height: 250px;
}

.media-post {
    padding: 60px 60px;
    overflow: hidden;
}

.media-post-sound {
    /* padding: 10px 10px; */
    overflow: hidden;
    /*margin-left: 8px;*/
    padding-bottom: 20px;
}

.media-post-code {
    padding: 10px 60px;
    overflow: hidden;
}

media-post-screenshot {
    padding: 0;
}

.p-sticker {
    margin: 10.5px 0 0 0;
}

.sticker-image {
    padding-bottom: 10.5px;
    padding-right: 10.5px;
}

media-post-video {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.media-post h3 {
    margin-top: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
    /*list-style-type: none*/
}

a {
    color: #F24738;
    text-decoration: none;
}

.content-container {
    background: white;
    padding: 20px;
}

.media-div-video {
    text-align: center;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.media-div-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px;
}

.media-div-sound {
    text-align: center;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.media-div-sound iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.media-div-image {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark-blue {
    background-color: #092140;
}

.maroon {
    background: #962D3E;
}

.gettysburg-beige {
    background: #F2EBC7;
}


.media-post-video {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .media-post-video {
        padding: 30px 30px;
    }
    .media-div-video iframe {
        padding: 60px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .media-post-video {
        padding: 15px 15px;
    }
    .media-div-sound iframe{
        padding: 35px;
    }
    .media-div-video iframe {
        padding: 30px;
    }

    .media-div-image {
        padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .media-post-video {
        padding: 10px 10px;
    }

    .media-div-sound iframe{
        padding: 20px;
    }
    .media-div-video iframe {
        padding: 20px;
    }

    .media-div-image {
        padding: 10px;
    }

    #large-nav {
        height: 72px;
    }
    #large-nav #main-nav {
        height: 72px;
    }

    #large-nav #main-nav .main-nav-list {
        margin-left: 0px;
    }

    .link {
        font-size: 12px;
    }

    .intro-copy {
        font-size: 20px;
        line-height: 35px;
        /*margin-left: -24px;*/
    }

    #intro-name h1 {
        font-size: 75px;
        margin-left: 0px; 
    }

    #intro-name {
        margin-bottom: 40px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .media-div-video iframe {
        padding: 10px;
    }

    .media-div-sound iframe{
        padding: 10px;
    }

    .media-div-image {
        padding: 10px;
    }
    #home-page #intro-bkg #intro-copy {
        width: 90%;
    }
}

/*When Blog category wraps under*/
@media only screen and (max-width : 362px) {
    .navlink-wrap-margin {
        margin-left: 30px !important;
    }