<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jeremy Klein</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
</head>

<body>
<!-- Navbar================================================== -->
<div id="large-nav" >
    <!-- <div class="logo" class="left">
      <a class="brand" href="">
        <span>Jeremy Klein</span>
      </a>
    </div> -->
    <div id="main-nav" class="">
        <div class="main-nav-inner">
            <ul class="main-nav-list">

                <li class="link"><a href="/" style="margin-left: 36px;" title="Home">Home</a></li>

                <li class="link"><a href="/code/" title="Code">Code</a></li>

                <li class="link"><a href="/music/" title="Music And Sound Design">Music</a></li>

                <li class="link navlink-wrap-margin"><a href="/blog/" title="Blog">Blog</a></li>

                <!--<li class="link"><a href="/contact/" title="Contact">Contact</a></li>-->

            </ul>
        </div>
    </div>
</div>
</div>
</header>

{{ content }}

<div class="social-nav" class="right">
    <ul class="social">
        <li class="github">
            <a href="http://www.github.com/jeremyk23">
                <!--<strong>Github</strong>-->
            </a>
        </li>
        <li class="twitter">
            <a href="http://twitter.com/jeremyk9123">
                <!--<strong>Twitter</strong>-->
            </a>
        </li>
        <li class="linkedin">
            <a href="www.linkedin.com/pub/jeremy-klein/41/3a8/200/">
                <!--<strong>Twitter</strong>-->
            </a>
        </li>
        <li class="soundcloud">
            <a href="https://soundcloud.com/jeremy-klein-lair23">
                <!--<strong>Twitter</strong>-->
            </a>
        </li>
        <li class="slideshare">
            <a href="http://www.slideshare.net/jeremyk23">
                <!--<strong>Twitter</strong>-->
            </a>
        </li>
    </ul>
</div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>